html, body{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    padding: 10px 50px;
    background-color: gray;
    max-width: 800px;
    height: 100%;

}
.header{
    display: flex;
    justify-content: space-between;
}
.name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.myphoto{
    width: 180px;
}
.footer{
    display: flex;
}
.link{
    display: flex;
    justify-content:space-around;
}
.date{
    display: flex;
    justify-content: center;
}

.logo_link{
    width: 150px;
}
